.hero {
  /*background: url("/frontend/public/assets/banner.jpg") no-repeat center center/cover;*/
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.search-box {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-box button {
  background: #00a86b;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #007a52;
}
